/*****COMMON PROPERTIES*****/
html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0.0000001em;
    font-family: sans-serif;
    text-align: left;
    background: cornsilk;
}

/*****MAIN'S BLOCK*****/
main {
    padding: 24px;
}

/*****ARTICLE'S BLOCK*****/
.article {
    max-width: 680px;
}

.article__heading {
    margin: 0 0 1.5rem 0;
}

.article__heading--verified {
    color: palevioletred;
}

.article__lead {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
}

.article__figure {
    margin-left: 0;
    margin-right: 0;
}

.figure__image {
    max-width: 100%;
    height: auto;
}

.figure__caption {
    margin: 8px 0 0;
    font-style: italic;
    text-align: center;
}